{include file="layout/head"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 管理员管理 <span class="c-gray en">&gt;</span> 客服电话 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius"  onclick="add()" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加客服电话</a></span></div>
<div class="page-container">


    <div class="mt-20">
        <table class="table table-border table-bordered table-hover table-bg table-sort">
            <thead>
            <tr class="text-c">

                <th width="80">ID</th>
                <th width="150">客服电话</th>
                <th width="100">操作</th>
            </tr>
            </thead>
            <tbody>
            <tr class="text-c">
                <td>{$data.id}</td>
                <td>{$data.tel}</td>
                <td class="td-manage"> <a title="编辑" onclick="edit('{$data.id}')"  class="ml-5" style="text-decoration:none"><i class="Hui-iconfont">&#xe6df;</i></a> </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
{include file="layout/foot"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
<script>
    function add() {
        layer_show("添加客服电话","{:url('Admin/add_tel')}","600","200");
    }

    function edit(id) {
        layer_show("修改客服电话","{:url('Admin/add_tel')}?id="+id,"600","200");
    }
</script>
</body>
</html>