<div class="m-footer">
    <div class="p-wrap">
        <div class="footer-links">
            <a class="footer-link" href="" target="_blank">广告合作</a>
            <a class="footer-link" href="" target="_blank">装修指南</a>
            <a class="footer-link" href="" target="_blank">在线预约</a>
            <a class="footer-link" href="" target="_blank">装修流程</a>
            <a class="footer-link" href="" target="_blank">量房设计</a>
            <a class="footer-link" href="" target="_blank">购买材料</a>
            <a class="footer-link" href="" target="_blank">联系我们</a>
        </div>

        <div class="footer-copyright">Copyright2012-2112 翼家装饰,All Rights Reserved ICP备案：京ICP备15063278号-1</div>
    </div>
</div>
<!--登录注册js-->
<script src="/static/js/login.js"></script>
<script src="//cdn.bootcss.com/layer/3.0.1/layer.js"></script>


<script>

       $(function () {

       })

</script>