{extend name="template/layout" /}

{block name="content"}

{php}
$nav = [
["url"=>"/", "name"=>"列表"],
["url"=>"/", "name"=>"详情"],
]
{/php}
{include file="../application/index/view/template/crumbs-nav.html" nav="$nav" /}

<div class="p-wrap m-case-detail">
    <div class="detail-header">
        <h2 class="detail-title">尤月林：便装网让装修工找到了家的感觉</h2>
        <span class="article-date">32576人已浏览 时间 : 3小时前</span>
    </div>
    <hr>

    <div class="case-detail-top">
        <div class="img-container">
            <img src="$static/img/05-pic-anli-03.png" class="img-big">
            <div class="img-small-container">
                {php}
                $arr = range(1,7);
                {/php}

                {foreach $arr as $item}
                <img src="$static/img/05-pic-anli-03.png" class="img-small">
                {/foreach}
            </div>
        </div>

        <div class="case-detail-data">
            <div class="info-row">
                <label>户型：</label>三室一厅
            </div>

            <div class="info-row">
                <label>户型：</label>134㎡
            </div>

            <div class="info-row">
                <label>建筑风格：</label>现代简约风格
            </div>

            <div class="info-row">
                <label>价格：</label>50~100万
            </div>
        </div>
    </div>

    <hr>
    <div class="detail-content">
        <p>
            记者：尤总您好，欢迎您接受我们的采访。随着便装网的不断发展扩大，特别是移动互联4.0上线以后，有越来越多的人开始喜欢上了这个平台，我有一个老乡是普通的装修工，最近用便装网APP开始接单了，非常的兴奋，一定让我转达对尤总的敬意。
            尤月林：谢谢，其实更应该感谢的是他们，是他们这些劳作在一线的装修施工人员用汗水勾绘出了广大消费者美好的家居生活，让城市变得绚丽多彩富丽堂皇，也让今天的整个装饰行业达到了一个新高度。我有机会能为他们做一点事情，让他们在这个平台上更方便的接到单子，有更多的发展机会，能更好的改善自己的生活条件，我还是非常高兴的。
            记者：便装网做了什么事情才如此受这些装修工人的欢迎呢？
            尤月林：在整个装饰圈，装修工人相对来说是一个弱势群体，他们的知识水平和对现代化社会的认知程度，远远落后于装饰公司的老板，一般情况下，装修工人严重依赖于装饰公司给他们的订单，他们一方面因为信息获取能力不足而不了解客户需求，另一方面也由于信任度不够而丧失了很多直接与客户打交道的机会。便装网就在这两方面下功夫，一是建立了客户与装修工人的直接沟通渠道，再就是对入驻便装网的工人提前筛选把关，实际上就是便装网承担了一部分管理职能，让这些常年散放在行业内的工人有一个相对比较统一的管理。工人有了可依靠的平台和稳定的就业，心也就定了下来，只要能把自己当成平台上的一份子，就会处处考虑平台形象，也就能更好地为业主服务，好口碑就自然而然来了。客户也为此节约了不少费用，所以这是一个多赢的结果。
            记者：尤总作为一个装饰行业的资深人员，是不是对装修工人有某种情结在里边？我可听到很多业主在抱怨装修人工费用很贵的。
            尤月林：人工费用确实一直在上涨，但业主直接付的人工费用并不是装修工人的纯收入，很多时候装饰公司或者工长是要提取一部分利润作为管理费用的。但优秀的装修工正在变得越来越稀缺也是事实，技术成熟有经验的工人师傅越来越少，年轻人选择这个行业的也越来越少，农村城镇化的进行，教育水平的提高以及家庭条件的富裕让装修工人存在着青黄不接的现象。集中表现就是优秀泥瓦工和木工数量的减少，毕竟学习手艺需要一段时间。便装网目前正在和一些教育机构合作，开办了一些技术学校，争取培养更多的装修工人满足市场需求。
            记者：您刚才提到的业主对装修工人的信任度问题，便装网是怎么解决的？
            尤月林：行内来讲，业主一般不会与装修工人个人直接发生业务联系的，因为你是处在一个散兵游勇的状态，没有一个“组织”来做保障，业主是不放心的。再说，家庭装修又是异常的复杂，涉及到那么多环节和工艺，一两个人也做不了，所以业主都是找装饰公司来签合同，装饰公司再去找装修工。
            现在，便装网本身就是一个流量很大的平台，可以说天然的就具有组织保障的功能，入驻便装网的装修工就不再是散兵游勇了。更主要的，便装网在筛选装修工的时候是很严格的，全部实名制不说，还要经过面试合格才行，不仅要有好的人品，而且要服从平台的管理，遵守便装网的规章制度。当然还要进行技术考试，施工工人讲究的就是手艺，一定要有过关的技术才能进入便装网平台的。入驻以后，便装网平台还会为这些装修工提供持续不断的技术培训服务，包括服务礼仪等在内的课程有很多了，消费者完全可以放心选择这些工人为自己做服务。
            记者：谢谢尤总接受我们的采访，在谈到装修工人的时候，我深切感受到了您言谈话语之间透露出来的人文关怀精神，也许正是这种精神支撑着您的事业越做越大，让装修工人通过便装网找到了家的温暖。
            尤月林：谢谢，再见。
        </p>
    </div>
</div>

{/block}