{extend name="template/layout" /}

{block name="content"}
<div class="m-login-wrap p-wrap">
    <div class="section-title">
        <div class="main-title">找回密码</div>
        <div class="sub-title">RETRIEVE</div>
    </div>


    <div class="form-wrap">
        <div class="form-forget">
            <div class="top-link">
                已有账号，<a href="/login">点击登录></a>
            </div>

            <div class="form-row">
                <div>
                    <label>手机号：</label>
                    <input type="text" placeholder="请输入手机号码" id="user_phone">
                </div>
                <div class="form-tips" id="phone_error_msg">错误信息</div>
            </div>

            <div class="form-row">
                <div>
                    <label>验证码：</label>
                    <input type="text" placeholder="请输入验证码" class="small-input" id="code">
                    <button class="send-button" onclick="code_msg(this)" id="code_lib" id="code">发送</button>
                </div>
                <div class="form-tips" id="code_error_msg">错误信息</div>
            </div>
            <input type="hidden" id="type" value="1">
            <div class="form-row">
                <div>
                    <label>密码：</label>
                    <input type="password" placeholder="请输入不少于6位密码" id="pwd">
                </div>
                <div class="form-tips" id="pwd_error_msg"></div>
            </div>

            <div class="form-row">
                <div>
                    <label>确认密码：</label>
                    <input type="password" placeholder="请重复密码" id="pwd1">
                </div>
                <div class="form-tips" id="pwd1_error_msg"></div>
            </div>

            <div class="p-button" id="register_submit">提交</div>
        </div>
    </div>

    <div class="login-logo">
        <img src="/static/img/1-logo.png" alt="">
    </div>
</div>
{/block}