{include file="layout/head"}
<body>
<div class="page-container">
	<form   class="form form-horizontal layui-form"  id="anli" enctype="multipart/form-data">
		<div class="layui-tab">
			<ul class="layui-tab-title">
				<li class="layui-this">案例基本信息</li>
				<li>案例分类</li>
			</ul>
			<div class="layui-tab-content">
				<div class="layui-tab-item layui-show">
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">案例标题：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="{$data.title}" placeholder="" id="" name="title">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">发布用户：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="{$data.user_name}" placeholder="" id="" name="user_name">
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">用户手机号：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<input type="text" class="input-text" value="{$data.phone}" placeholder="" id="" name="phone">
						</div>
					</div>

					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">是否审核通过：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<div class="layui-form-item" pane="" style="margin-left: -110px">
								<div class="layui-input-block">
									<input type="radio" name="is_pass" value="1" title="通过" <?php if($data['is_pass']==1){echo "checked";}?>>
									<input type="radio" name="is_pass" value="0" title="不通过" <?php if($data['is_pass']==0){echo "checked";}?>>
								</div>
							</div>
						</div>
					</div>

					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">案例类型：</label>
						<div class="formControls col-xs-8 col-sm-9">
							<div class="layui-form-item" pane="" style="margin-left: -110px">
								<div class="layui-input-block">
									<input type="radio" name="case_type" value="1" title="装修案例" <?php if($data['case_type']==1){echo "checked";}?>>
									<input type="radio" name="case_type" value="2" title="设计案例" <?php if($data['case_type']==2){echo "checked";}?>>
								</div>
							</div>
						</div>
					</div>
					<div class="row cl">
						<label class="form-label col-xs-4 col-sm-2">案例类型：</label>
						<div class="layui-upload">
							<div class="formControls col-xs-8 col-sm-9">
								<button type="button" class="layui-btn" id="test1">案例封面</button>
								<div class="layui-upload-list">
									<img class="layui-upload-img" id="demo1" style="width: 200px;height: 200px" src="{$data.cover}">
									<input type="hidden" id="cover" value="{$data.cover}" name="cover">
									<p id="demoText"></p>
								</div>
							</div>
						</div>
					</div>

					<div class="row cl">

						<label class="form-label col-xs-4 col-sm-2">案例详情：</label>
						<p style="margin-left: 300px;color: red">图片大小:452*137</p>
						<div class="formControls col-xs-8 col-sm-9">
							<script id="editor" type="text/plain"  name="pass_content">
							{eq name="data.pass_content" value=""}
								{foreach name='data.pic' item='vo'}
									<img src="{$vo}" alt="">
								{/foreach}
								{$data.content}
							{else/}
								{$data.pass_content}
							{/eq}

							</script>
						</div>
					</div>
				</div>
				<div class="layui-tab-item">
					<div class="row cl" style="margin-bottom: 20px">
						<label  class="form-label col-xs-4 col-sm-2">选择案例分类</label>
						<br>
						{foreach name = 'cat' item='v1'}
						<span class="form-label col-xs-4 col-sm-2">{$v1.cat_name}:
							<div class="layui-input-inline">
								<select name="{$v1.name}">
									<option value="">请选择</option>
									{foreach name="v1.sec" item="v2"}
										<option value="{$v2.id}" <?php if($v2['select']==1){echo "selected";}?>>{$v2.cat_name}</option>
									{/foreach}
								</select>
							</div>
						</span>
						{/foreach}
					</div>
				</div>
			</div>
		</div>







		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input type="hidden" name="id" value="{$data.id}">
				<button onClick="add();" class="btn btn-primary radius" type="button"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</div>


{include file="layout/foot"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/lang/zh-cn/zh-cn.js"></script>
<script type="text/javascript" src="/layui/layui.all.js"></script>
<script type="text/javascript">
    var ue = UE.getEditor('editor');
    var ue = UE.getEditor('pic');

	function add(){
		$.post("{:url('Anli/add')}",$('#anli').serialize(),function(data){
			if(data.code == 200){
				layer.msg("操作成功",{icon:1,time:2000});
				setTimeout(function () {
					location.href = "/admin/user/anli_list";
                },2000);
			}else{
				layer.msg("数据暂未修改",{icon:2,time:2000});
			}
		})

	}
</script>

<script>
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#test1'
            ,url: '/admin/Charging/saveImg'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）
                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                $("#cover").val(res);
                //上传成功
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

    });
</script>
</body>
</html>