{include file="layout/head"}
<body>

<div class="page-container">
	<form action="{:url('renwu/add')}" method="post" class="form form-horizontal layui-form" id="rw" enctype="multipart/form-data" onsubmit="return check()">
		<div class="row cl">

			<div class="layui-tab" lay-filter="test">
				<ul class="layui-tab-title">
					<li class="layui-this" lay-id="11">任务基本信息</li>
				</ul>
				<div class="layui-tab-content">
					<div class="layui-tab-item layui-show">
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">发布需求的用户：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="{$phone}" placeholder="" id="user_phone" name="user_phone">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务名称：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="{$data.rw_title}" placeholder="" id="" name="rw_title">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务佣金：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="{$data.rw_yj}" placeholder="" id="" name="rw_yj">
							</div>
						</div>

						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务订金：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="text" class="input-text" value="{$data.rw_ding}" placeholder="" id="" name="rw_ding">
							</div>
						</div>

						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务属性：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<select name="rw_cat" id="cat">
									{foreach name="$rw_cat" item="v1"}
										<option value="{$v1.id}" <?php if($data['rw_cat'] == $v1['id']){echo "selected=selectede";}?>>{$v1.cat_name}</option>
									{/foreach}
								</select>
							</div>
						</div>

						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务审核：</label>
							<div class="formControls col-xs-8 col-sm-9">
								{$data.rw_pass}
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务状态：</label>
							<div class="formControls col-xs-8 col-sm-9">
								{$data.rw_status}
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务详情：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<textarea name="rw_main" id="" cols="30" rows="10" style="width: 850px;height: 250px;">{$data.rw_main}</textarea>
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务封面图片：</label>
							<div class="formControls col-xs-8 col-sm-9">
								<input type="file" class="input-text" value="0" placeholder="" id="" name="rw_cover">
								<!--<p style="color: red">*图片最佳尺寸-&#45;&#45; 宽 : 高  750:236</p>-->
								{eq name="data.rw_cover" value=""}
								{else/}
								<img src="{$data.rw_cover}" alt="" style="width: 126px;height: 214px">
								{/eq}
							</div>
						</div>

						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">任务图片：</label>
							<div class="layui-upload">
								<button type="button" class="layui-btn" id="lunbo" style="margin-left: 120px">上传图片</button>
								<div style="width: 1080px;margin: 10px 120px">
									<blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
										预览图：
										<div class="layui-upload-list" id="demo2">
											{if condition="($data.rw_img == '') "}

											{else /}
											{volist name="$data.rw_img" id="img"}
											<img src="{$img}" alt="" class="product_lunbo" id="{$i}" name="lunbo[]">
											<i class="layui-icon layui-unselect layui-tab-close img-cur {$i}" onclick="delLun({$i})">ဆ</i>
											{/volist}

											{/if}
										</div>
										<input type="hidden" id="lun" name="lunbo" value="{$data['lunbojson']}">
										<input type="hidden" name="id" value="{$data['id']}">
										<input type="hidden" id="lunbocount" value="{$data['lunbocount']}">
									</blockquote>
								</div>
							</div>
						</div>


						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">发布时间：</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input" id="create_time" placeholder="yyyy-MM-dd" name="create_time" value="{$data.create_time}">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">开工时间：</label>
							<div class="layui-input-inline">
								<input type="text" class="layui-input" id="start_time" placeholder="yyyy-MM-dd" name="start_time" value="{$data.start_time}">
							</div>
						</div>
						<div class="row cl">
							<label class="form-label col-xs-4 col-sm-2">支付限时：</label>
							<div class="layui-input-inline">
								<input type="text" class="input-text" value="{$data.pay_limit_time}" placeholder="支付限时" id="" name="pay_limit_time">
								<span style="color: red">*支付时间为 秒</span>
							</div>
						</div>
						<div class="row cl">
							<div class="layui-form-item">
								<label class="layui-form-label" style="margin-left: 65px">任务地区</label>

								<div class="layui-input-inline">
									<select name="rw_province" id="province" lay-filter="area">
										<option value="">请选择省</option>
										{foreach name="$province" item="v1"}
										<option value="{$v1.provinceID}"  <?php if($v1['province'] == $data['rw_province']){echo "selected=selected";}?>>{$v1.province}</option>
										{/foreach}
									</select>
								</div>
								<div class="layui-input-inline">
									<select name="rw_city" id="rw_city">
										<option value="">请选择市</option>
										{foreach name="$city" item="v1"}
										<option value="{$v1.cityID}"  <?php if($v1['city'] == $data['rw_area']){echo "selected=selected";}?>>{$v1.city}</option>
										{/foreach}
									</select>
								</div>

							</div>
						</div>

					</div>
				</div>
			</div>


		</div>
		<div class="row cl">
			<div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
				<input type="hidden" name="id" value="{$data.id}">
				<input type="hidden" name="city" value="{$data.rw_area}" id="area">
				<button class="btn btn-primary radius" type="submit"><i class="Hui-iconfont">&#xe632;</i> 保存</button>
			</div>
		</div>
	</form>
</div>

<script type="text/javascript" src="/lib/jquery/1.9.1/jquery.min.js"></script>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.config.js"></script>
<script type="text/javascript" src="/lib/ueditor/1.4.3/ueditor.all.min.js"> </script>
<!--<script type="text/javascript" src="/lib/layer/2.4/layer.js"></script>-->
<script type="text/javascript" src="/layui/layui.all.js"></script>

<script type="text/javascript">

    var html ;
    var id = $('#lunbocount').val();
    layui.use('upload', function(){
        var $ = layui.jquery
            ,upload = layui.upload;

        //普通图片上传
        var uploadInst = upload.render({
            elem: '#suolve'
            ,url: 'saveImg'
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){
                    $('#demo1').attr('src', result); //图片链接（base64）

                });
            }
            ,done: function(res){
                //如果上传失败
                if(res.code > 0){
                    return layer.msg('上传失败');
                }
                //上传成功

                $('#suo').val(res);
            }
            ,error: function(){
                //演示失败状态，并实现重传
                var demoText = $('#demoText');
                demoText.html('<span style="color: #FF5722;">上传失败</span> <a class="layui-btn layui-btn-mini demo-reload">重试</a>');
                demoText.find('.demo-reload').on('click', function(){
                    uploadInst.upload();
                });
            }
        });

        //多图片上传
        upload.render({
            elem: '#lunbo'
            ,url: '/admin/Charging/saveImg'
            ,multiple: true
            ,before: function(obj){
                //预读本地文件示例，不支持ie8
                obj.preview(function(index, file, result){

                });
            }
            ,done: function(res){
                var lun = $('#lun').val();
                //上传完毕
//                lun = lun+','+res;
                id++;
                $('#demo2').append('<img src="'+ res +'"  class="product_lunbo" id="'+id+'"><i class="layui-icon layui-unselect layui-tab-close img-cur '+id+'" onclick="delLun('+id+')">ဆ</i>')
                if(lun == ""){
                    lun = res;
                }else{
                    lun = lun+','+res;
                }
                $('#lun').val(lun);
            }
        });
    });


    var ue = UE.getEditor('editor');
    var ue = UE.getEditor('pic');
    function add() {
        var img= "<div><input type='file' name='rw_img[]' style='margin-top: 15px'></div>";
        $('#rw_img').append(img)
    }



//    layui.use("form", function () {
//        var form = layui.form();
//
//        //- 代码写在这里面.
//
//        form.on('select(area)', function(data){
//            console.log(data.value); //得到被选中的值
//			$.post("{:url('Renwu/area')}",{father:data.value},function (obj) {
//                var optionstring = "";
//				$.each(obj,function (i,item) {
//                    optionstring += "<option value=\"" + item.city + "\" id=\"" + item.city + "\">" + item.city + "</option>";
//                });
//                $("#rw_city").html('<option value=""></option>' + optionstring);
//                form.render('select');  //layui 这点很重要  不能缺失
//            });
//        });
//    })

    layui.use('element', function(){
        var $ = layui.jquery
            ,element = layui.element(); //Tab的切换功能，切换事件监听等，需要依赖element模块

        //触发事件
        var active = {
            tabAdd: function(){
                //新增一个Tab项
                element.tabAdd('demo', {
                    title: '新选项'+ (Math.random()*1000|0) //用于演示
                    ,content: '内容'+ (Math.random()*1000|0)
                    ,id: new Date().getTime() //实际使用一般是规定好的id，这里以时间戳模拟下
                })
            }
            ,tabDelete: function(othis){
                //删除指定Tab项
                element.tabDelete('demo', '44'); //删除：“商品管理”


                othis.addClass('layui-btn-disabled');
            }
            ,tabChange: function(){
                //切换到指定Tab项
                element.tabChange('demo', '22'); //切换到：用户管理
            }
        };

        $('.site-demo-active').on('click', function(){
            var othis = $(this), type = othis.data('type');
            active[type] ? active[type].call(this, othis) : '';
        });


        //Hash地址的定位
        var layid = location.hash.replace(/^#test=/, '');
        element.tabChange('test', layid);

        element.on('tab(test)', function(elem){
            location.hash = 'test='+ $(this).attr('lay-id');
        });



    });

    function check() {
		var cat = $('#cat option:selected').val();
		var user = $('#user_phone').val();
		var city = $('#rw_city option:selected').val();
		if(cat == 4){
		    if(user == ""){
		        layer.msg("请填写用户信息");
		        return false;
			}
		}

		if(city == ""){
		    layer.msg("请选择任务地区");
		    return false;
		}
    }

    /**
     *
     * 删除轮播预览图
     * @param id
     */
    var temp;
    function delLun(id) {
        var lun = $('#lun').val();
        var arr = lun.split(',');
        $.each(arr,function(index,item) {
            // index是索引值（即下标）   item是每次遍历得到的值；
            if (item == $('#'+id).attr('src')) {
                arr.splice(index, 1);
            }
        });
        temp = arr.join(',');
        //  将处理对的数据赋给 对应的标签
        $('#lun').val(temp);
        console.log(temp);
        $("#"+id).remove();
        $("."+id).remove();
    }
</script>


<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
    layui.use('laydate', function(){
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#create_time'
        });

        //国际版
        laydate.render({
            elem: '#start_time'
        });

        //年选择器
        laydate.render({
            elem: '#test2'
            ,type: 'year'
        });
    });

    layui.use(['form', 'layedit', 'laydate'], function(){
        var form = layui.form
            ,layer = layui.layer
            ,layedit = layui.layedit
            ,laydate = layui.laydate;

        //日期
        laydate.render({
            elem: '#date'
        });
        laydate.render({
            elem: '#date1'
        });

        //创建一个编辑器
        var editIndex = layedit.build('LAY_demo_editor');

        //自定义验证规则
        form.verify({
            title: function(value){
                if(value.length < 5){
                    return '标题至少得5个字符啊';
                }
            }
            ,pass: [/(.+){6,12}$/, '密码必须6到12位']
            ,content: function(value){
                layedit.sync(editIndex);
            }
        });

        //监听指定开关
        form.on('switch(switchTest)', function(data){
            layer.msg('开关checked：'+ (this.checked ? 'true' : 'false'), {
                offset: '6px'
            });
            layer.tips('温馨提示：请注意开关状态的文字可以随意定义，而不仅仅是ON|OFF', data.othis)
        });

        form.on('select(area)', function(data){
            console.log(data.value); //得到被选中的值
			$.post("{:url('Renwu/area')}",{father:data.value},function (obj) {
                var optionstring = "";
				$.each(obj,function (i,item) {
                    optionstring += "<option value=\"" + item.city + "\" id=\"" + item.city + "\">" + item.city + "</option>";
                });
                $("#rw_city").html('<option value=""></option>' + optionstring);
                form.render('select');  //layui 这点很重要  不能缺失
            });
        });


    });
</script>


</body>
</html>