{include file="layout/head"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 免费申请 <span class="c-gray en">&gt;</span> 首页申请类型 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>


<div class="page-container">
	<div class="mt-20">
		<table id="Product" class="table table-border table-bordered table-bg table-hover table-sort">

		</table>
	</div>

</div>
{include file="layout/foot"}
<!--请在下方写此页面业务相关的脚本-->
<!--<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>-->
<!--<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>-->
<!--<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>-->
<script type="text/javascript">

    $(function () {
        $('#Product').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('Apply/data')}",
            "columns": [
                {"title": "ID", "data": "id"},
                {"title": "申请人", "data": "name"},
                {"title": "申请人联系方式", "data": "phone"},
                {"title": "房屋风格", "data": "house_type"},
                {"title": "房屋面积", "data": "acreage"},
                {"title": "详细地址", "data": "address"},
                {"title": "申请时间", "data": "created_at"},
                {"title": "操作", "data": "caozuo"},
            ]

        });
    });

	function del(id) {
		layer.confirm('是否删除申请信息',{
		    btn:['是','否']
		},function () {
			$.post('/admin/apply/del',{id:id},function (obj) {
			    layer.msg('删除成功');
			    setTimeout(function () {
                    location.reload();
                },1000)
            })
        })
    }
</script> 
</body>
</html>