{include file="layout/head"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 案例分类 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>

<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a class="btn btn-primary radius" data-title="添加分类"  onclick="cat_add(this)" href="javascript:;"><i class="Hui-iconfont">&#xe600;</i> 添加分类</a></span></div>

<div class="page-container">
    <div class="mt-20">
        <div class="mt-20">
            <table id="user" class="display table table-border table-bordered table-bg table-hover table-sort">

            </table>
        </div>
    </div>
</div>
{include file="layout/foot"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
</body>
</html>
<script>
    $(function () {
        $('#user').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('User/cat_ajax')}",
            "columns": [
                {"title": "ID", "data": "id"},
                {"title": "分类名称", "data": "cat_name"},
                {"title": "父级分类", "data": "p_name"},
                {"title": "操作", "data": "caozuo"},
            ]

        });
    });

    /*分类修改*/
    function anli_cat_edit(id,cat_name) {
        layer.prompt({title: '修改分类', formType: 3,value:cat_name}, function(change, index){
            layer.close(index);
            $.post('/admin/user/save',{id:id,cat_name:change},function (data) {
                if(data.code == 200){
                   layer.msg('修改成功',{icon:1,time:1000});
                   setTimeout(function () {
                       location.reload()
                   },1000)
                }
            })
        });
    }

    /*删除分类*/
    function cat_del(id) {
        layer.confirm('是否删除？', {
            btn: ['是','否'] //按钮
        }, function(){
            $.post('/admin/user/del',{id:id},function (data) {
                if(data.code == 200){
                    layer.msg(data.msg,{icon:1,time:1000})
                    setTimeout(function () {
                        location.reload()
                    },1000)
                }else{
                    layer.msg(data.msg,{icon:2,time:1000})
                }
            })
        });
    }


    function cat_add() {
        layer_show('新增分类','/admin/user/add')
    }
</script>