{include file="layout/head"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> 用户管理 <span class="c-gray en">&gt;</span> 用户案例 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> </span> <span class="r">共有数据：<strong>{$count}</strong> 条</span> </div>
    <div class="mt-20">
        <div class="mt-20">
            <table id="user" class="display table table-border table-bordered table-bg table-hover table-sort">

            </table>
        </div>
    </div>
</div>
{include file="layout/foot"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
</body>
</html>
<script>
    /*案例审核*/
    function anli_shenhe(obj,id){
        layer.confirm('审核案例？', {
                btn: ['通过','不通过','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.post("{:url('Anli/shenhe')}",{id:id,is_pass:1},function (data) {
                    layer.msg(data.msg, {icon:6,time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                })
            },
            function(){
                $.post("{:url('Anli/shenhe')}",{id:id,is_pass:0},function (data) {
                    layer.msg(data.msg, {icon:5,time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                })
            });
    }


    function anli_tuijian(obj,id) {
        layer.confirm('推荐为经典案例？', {
                btn: ['推荐','不推荐','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.post("{:url('Anli/tuijian')}",{id:id,jidian:1},function (data) {
                    layer.msg(data.msg, {icon:6,time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                })
            },
            function(){
                $.post("{:url('Anli/tuijian')}",{id:id,jidian:0},function (data) {
                    layer.msg(data.msg, {icon:5,time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                })
            });
    }
    $(function () {
        $('#user').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('User/anli_ajax')}",
            "columns": [
                {"title": "ID", "data": "id"},
                {"title": "案例标题", "data": "title"},
                {"title": "案例图片", "data": "pic"},
                {"title": "发布者", "data": "user"},
                {"title": "审核", "data": "is_pass"},
                {"title": "是否经典案例", "data": "jidian"},
                {"title": "发布时间", "data": "create_time"},
                {"title": "操作", "data": "caozuo"},
            ]

        });
    });

    $.extend($.fn.dataTable.defaults, {
        language: {
            "sProcessing": "处理中...",
            "sLengthMenu": "显示 _MENU_ 项结果",
            "sZeroRecords": "没有匹配结果",
            "sInfo": "显示第 _START_ 至 _END_ 项结果，共 _TOTAL_ 项",
            "sInfoEmpty": "显示第 0 至 0 项结果，共 0 项",
            "sInfoFiltered": "(由 _MAX_ 项结果过滤)",
            "sInfoPostFix": "",
            "sSearch": "搜索:",
            "sUrl": "",
            "sEmptyTable": "表中数据为空",
            "sLoadingRecords": "载入中...",
            "sInfoThousands": ",",
            "oPaginate": {
                "sFirst": "首页",
                "sPrevious": "上页",
                "sNext": "下页",
                "sLast": "末页"
            },
            "oAria": {
                "sSortAscending": ": 以升序排列此列",
                "sSortDescending": ": 以降序排列此列"
            }
        },
        buttons: true
    });
</script>