{include file="layout/head"}
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> Go了解我管理 <span class="c-gray en">&gt;</span> 文章列表 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<!--<div class="cl pd-5 bg-1 bk-gray mt-20"> <span class="l"> <a href="{:url('banner/addupdate')}"class="btn btn-primary radius" data-title="添加图片" ><i class="Hui-iconfont">&#xe600;</i> 添加图片</a></span>-->

    <div class="page-container">
        <form  class="form form-horizontal layui-form" id="about" enctype="multipart/form-data">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-2">协议内容：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <script id="editor" type="text/plain"  name="agreement">{$data->agreement}</script>
                </div>
            </div>

            <input type="hidden" name="id" value="{$data->id}">
            <div class="row cl">
                <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-2">
                    <p class="btn btn-primary radius" onclick="submit()"><i class="Hui-iconfont">&#xe632;</i> 保存</p>
                </div>
            </div>

        </form>
        {include file="layout/foot"}
</body>
<script>
    var ue = UE.getEditor('editor',{
        initialFrameHeight:500,
    });
    var ue = UE.getEditor('pic');
    function submit() {
        $.post('/admin/agreement/save',$('#about').serialize(),function (obj) {
            if(obj.code == 200){
                layer.msg('保存成功');
            }
        });
    }
</script>
</html>