{include file="layout/head"}
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页 <span class="c-gray en">&gt;</span> Pc网站管理 <span class="c-gray en">&gt;</span> 常见问答 <a class="btn btn-success radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a></nav>
<div class="page-container">
    <div class="cl pd-5 bg-1 bk-gray mt-20">  <a onclick="answer(0,'','')" class="btn btn-primary radius"><i class="Hui-iconfont">&#xe600;</i> 添加常见问答</a></span></div>

    <div class="mt-20">
        <div class="mt-20">
            <table id="user" class="display table table-border table-bordered table-bg table-hover table-sort">

            </table>
        </div>
    </div>
</div>
{include file="layout/foot"}

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="/lib/My97DatePicker/4.8/WdatePicker.js"></script>
<script type="text/javascript" src="/lib/datatables/1.10.0/jquery.dataTables.min.js"></script>
<script type="text/javascript" src="/lib/laypage/1.2/laypage.js"></script>
</body>
</html>
<script>
    /**
     * 是否推荐
     * @param obj
     * @param id
     */

    function hot(obj,id) {
        layer.confirm('是否设置为精彩问答？', {
                btn: ['是','否','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.post("{:url('normalQuestion/handel')}",{id:id,is_hot:1},function (data) {
                    layer.msg(data.msg, {time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                })
            },
            function(){
                $.post("{:url('normalQuestion/handel')}",{id:id,is_hot:0},function (data) {
                    layer.msg(data.msg, {time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                })
            });
    }

    function answer(id,answer,question) {
        layer.prompt({title: '请输入问题',value:question, formType: 2}, function(questionTitle, index){
            layer.close(index);
            layer.prompt({title: '请输入回答', value:answer,formType: 2}, function(text, index){
                layer.close(index);
                $.post('saveAnswer',{id:id,answer:text,question:questionTitle},function (data) {
                    layer.msg(data.msg, {time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                });
            });
        });


    }

    function del(obj,id) {
        layer.confirm('是否删除问答？', {
                btn: ['删除','取消'],
                shade: false,
                closeBtn: 0
            },
            function(){
                $.post("{:url('normalQuestion/del')}",{id:id},function (data) {
                    layer.msg(data.msg, {time:1000});
                    setTimeout(function () {
                        location.reload();
                    },1000)
                })
            });
    }
    $(function () {
        $('#user').DataTable({
            "paging": true,
            "lengthChange": true,
            "processing": true,
            "searching": true,
            "ordering": true,
            "info": true,
            "autoWidth": false,
            "ajax": "{:url('normalQuestion/GetList')}",
            "columns": [
                {"title": "ID", "data": "id"},
                {"title": "提问", "data": "question"},
                {"title": "回答", "data": "answer"},
                {"title": "创建时间", "data": "created_at"},
                {"title": "操作", "data": "caozuo"},
            ]

        });
    });


</script>